/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.feature-box {
  text-align: center;
  padding: 0;
}

.feature-box h3 {
  font-size: 1.5rem;
}

.feature-box p {
  font-size: 1.3rem;
  margin-top: 0;
}

.tip-icon a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.tip-icon a i {
  font-style: normal;
  font-size: 28px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  background-color: #1ABC9C;
  width: 64px;
  margin-bottom: 1rem;
}

.bbffintech-video {
  width: 100%;
}

.bbf-portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.bbf-portfolio {
  width: 25%;
  margin: 1rem;
}

.team-image img {
  height: 400px;
}

.slider-caption {
  background: #00000099;
  padding: 1rem;
}


